.otp_wrapper {
    width: 80%;
    padding: 60px;
    margin: 20px auto;
}

.otp_wrapper input{
    display: inline-flex;
    margin: 10px 2px;
    width: 50px;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

.otp_wrapper input:focus {
    outline: 1px solid green;
    border: 1px solid green;
}

@media only screen and (max-width: 440px) {
    .otp_wrapper {
        width: 100%;
        padding: 20px;
    }

    .otp_wrapper input {
        padding: 4px;
        width: 25px;
        text-align: center;
    }

}